img {
    display: block;
    position: relative;
    left: 0px;
    top:0px;
    width:auto;
    height:auto;
    max-width:90%;
}

ul.no-bullet-point {
    list-style-type: none;
}

ul.no-bullet-point span {
    margin-right:15px;
    font-size:22px;
    font-weight: 700;
}

small {
    font-size: 16px;
}

.jumbotron {
    background-color:#111111;
    color:#fafafa;
}
.orange {
    color:orange;
}
.black {
    color:#000000;
}
.blue {
    color:#17598c;
}

.faded {
    opacity:0.5;
}