img {
    display: block;
    position: relative;
    left: 0px;
    top:0px;
    width:auto;
    height:auto;
    max-height:350px;
}

ul.no-bullet-point {
    list-style-type: none;
}

ul.no-bullet-point span {
    margin-right:15px;
    font-size:22px;
    font-weight: 700;
}

small {
    font-size: 16px;
}
.blue {
    color:#4285F4;
}